<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="SQL_PE" connectionString="Server=172.28.7.14;Database=BDPOS;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>    
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <!--<httpRuntime targetFramework="4.6"/>-->
    <httpRuntime targetFramework="4.6" maxRequestLength="1000000000" executionTimeout="3600"/>
  
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2000000000"   />
        </requestFiltering> 
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="OnlineSOAP11Binding" />
      </basicHttpBinding>
      <!--<customBinding>
        <binding name="OnlineSOAP12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>-->
    </bindings>
    <client>
      <endpoint address="http://200.121.128.110:8080/axis2/services/Online"
        binding="basicHttpBinding" bindingConfiguration="OnlineSOAP11Binding"
        contract="FEBata.OnlinePortType" name="OnlineSOAP11port_http" />
      <!--<endpoint address="http://200.121.128.110:8080/axis2/services/Online"
        binding="customBinding" bindingConfiguration="OnlineSOAP12Binding"
        contract="FEBata.OnlinePortType" name="OnlineSOAP12port_http" />-->
    </client>
  </system.serviceModel>
</configuration>