<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="SQL_PE" connectionString="Server=bd01btp.emcomer.pe;Database=BDPOS;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Bata_TransactionSoap"  closeTimeout="00:15:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://posperu.bgr.pe/ws_batapos/Bata_Transaction.asmx"
                binding="basicHttpBinding" bindingConfiguration="Bata_TransactionSoap"
                contract="BataTransac.Bata_TransactionSoap" name="Bata_TransactionSoap" />
        </client>
    </system.serviceModel>
</configuration>