<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="SQL_PE" connectionString="Server=bd01btp.emcomer.pe;Database=BDPOS;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>
    <add name="ORCE_ORG"  connectionString="BPE"/>
    <add name="ORCE_USER"  connectionString="sys_ws"/>
    <add name="ORCE_PASS"  connectionString="Bata_1234"/>    
  </connectionStrings>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Bata_TransactionSoap" closeTimeout="00:15:00"
                    openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                    maxReceivedMessageSize="2147483647" />
                <binding name="CustomerServicesApiPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerServicesApiPortBinding1" />
                <binding name="LoyaltyAccountServicesApiPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LoyaltyAccountServicesApiPortBinding1" />
                <binding name="AwardAccountServicesApiPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="AwardAccountServicesApiPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://posperu.bgr.pe/ws_batapos/Bata_Transaction.asmx"
                binding="basicHttpBinding" bindingConfiguration="Bata_TransactionSoap"
                contract="BataTransac.Bata_TransactionSoap" name="Bata_TransactionSoap" />
            <endpoint address="https://172.24.20.183:8446/BPE/OrceWebServices/v3_0/CustomerServicesApiService"
                binding="basicHttpBinding" bindingConfiguration="CustomerServicesApiPortBinding"
                contract="OrceCliente.CustomerServicesApi" name="CustomerServicesApiPort" />
            <endpoint address="https://172.24.20.183:8446/BPE/OrceWebServices/v3_3/LoyaltyAccountServicesApiService"
                binding="basicHttpBinding" bindingConfiguration="LoyaltyAccountServicesApiPortBinding"
                contract="OrceLoyalty.LoyaltyAccountServicesApi" name="LoyaltyAccountServicesApiPort" />
            <endpoint address="https://172.24.20.183:8446/BPE/OrceWebServices/v3_1/AwardAccountServicesApiService"
                binding="basicHttpBinding" bindingConfiguration="AwardAccountServicesApiPortBinding"
                contract="OrceAward.AwardAccountServicesApi" name="AwardAccountServicesApiPort" />
        </client>
    </system.serviceModel>
</configuration>