<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Bata_TransactionSoap" closeTimeout="00:15:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="2147483647"/>
                <binding name="BataEcommerceSoap" closeTimeout="00:15:00" openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00" maxReceivedMessageSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://posperu.bgr.pe/ws_batapos/Bata_Transaction.asmx" binding="basicHttpBinding" bindingConfiguration="Bata_TransactionSoap" contract="BataTransac.Bata_TransactionSoap" name="Bata_TransactionSoap"/>
            <endpoint address="http://ecommerce.bgr.pe/Ws_EC/BataEcommerce.asmx" binding="basicHttpBinding" bindingConfiguration="BataEcommerceSoap" contract="BataEC.BataEcommerceSoap" name="BataEcommerceSoap"/>
        </client>
    </system.serviceModel>
</configuration>
