<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <connectionStrings>
    <!--<add name="SQL_PE" connectionString="Server=bd01btp.emcomer.pe;Database=BDPOS;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>-->
    <add name="ORCE_ORG"  connectionString="BPE"/>
    <add name="ORCE_USER"  connectionString="sys_ws"/>
    <add name="ORCE_PASS"  connectionString="Bata123"/>
     <!--SI ESTA EN TRUE SE VA A GENERAR LA TARJETA DE FIDELIZACION-->
    <add name="GENERA_TARJETA"  connectionString="FALSE"/> 
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CustomerServicesApiPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="CustomerServicesApiPortBinding1" />
                <binding name="LoyaltyAccountServicesApiPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="LoyaltyAccountServicesApiPortBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://172.24.20.183:8446/BPE/OrceWebServices/v3_0/CustomerServicesApiService"
                binding="basicHttpBinding" bindingConfiguration="CustomerServicesApiPortBinding"
                contract="OrceCliente.CustomerServicesApi" name="CustomerServicesApiPort" />
            <endpoint address="https://172.24.20.183:8446/BPE/OrceWebServices/v3_3/LoyaltyAccountServicesApiService"
                binding="basicHttpBinding" bindingConfiguration="LoyaltyAccountServicesApiPortBinding"
                contract="OrceLoyalty.LoyaltyAccountServicesApi" name="LoyaltyAccountServicesApiPort" />
        </client>
    </system.serviceModel>
</configuration>
