<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="Bata_TransactionSoap" closeTimeout="00:15:00"
                   openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                   maxReceivedMessageSize="2147483647" />
            <binding name="bata_transaccionSoap" closeTimeout="00:15:00"
                openTimeout="00:30:00" receiveTimeout="00:30:00" sendTimeout="00:30:00"
                maxReceivedMessageSize="2147483647"/>
          </basicHttpBinding>
        </bindings>
        <client>
          <endpoint address="http://posperu.bgr.pe/ws_batapos/Bata_Transaction.asmx"
            binding="basicHttpBinding" bindingConfiguration="Bata_TransactionSoap"
            contract="BataTransac.Bata_TransactionSoap" name="Bata_TransactionSoap" />
          <endpoint address="http://www.bgr.pe/web_site_tienda/bata_transaccion.asmx"
            binding="basicHttpBinding" bindingConfiguration="bata_transaccionSoap"
            contract="BataTrans.bata_transaccionSoap" name="bata_transaccionSoap" />
        </client>
    </system.serviceModel>
</configuration>
