<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Sunat_Reniec_PESoap" />
                <binding name="Sunat_Reniec_PESoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.peru.bgr.pe/Ws_ConsutaSunatReniec/Sunat_Reniec_PE.asmx"
                binding="basicHttpBinding" bindingConfiguration="Sunat_Reniec_PESoap"
                contract="wsconsulta.Sunat_Reniec_PESoap" name="Sunat_Reniec_PESoap" />
            <endpoint address="http://localhost:54509/Sunat_Reniec_PE.asmx"
                binding="basicHttpBinding" bindingConfiguration="Sunat_Reniec_PESoap1"
                contract="wsconsulta_des.Sunat_Reniec_PESoap" name="Sunat_Reniec_PESoap1" />
        </client>
    </system.serviceModel>
</configuration>