<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--CONFIGURACION CONEXION SQL-->
  <connectionStrings>
    <!-- <add name="SQL_PROD_PE" connectionString="Server=POSPERUBD.BGR.PE;Database=BDPOS;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/> -->
    <!-- <add name="SQL_DES_PE" connectionString="Server=POSPERUBD.BGR.PE;Database=BDPOS_DES;User ID=sa;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/> -->
    <!-- <add name="SQL_QA_PE" connectionString="Server=POSPERUBD.BGR.PE;Database=BDPOS_QA;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/> -->
    <!-- <add name="SQL_PROD_EC" connectionString="Server=POSPERUBD.BGR.PE;Database=BDPOS;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/> -->
    <!-- <add name="SQL_QA_EC" connectionString="Server=POSPERUBD.BGR.PE;Database=BDPOS_ECU_QA;User ID=pos_oracle;Password=Bata2018**;Trusted_Connection=False;" providerName="System.Data.SqlClient"/>     -->

    <add name="SQL_PROD_PE" connectionString="Q6Vl9QRfIdhiFlnW3oPqAk0xEls0KSrstcjhIyMn4gWawAtC34fyel2YU1YF1ZqyVHPbfQhOaENjD8qBpeQ3/rH71baQjRkoRC/q/v/hwprGfVoidrqU5/y0FHV8T1WzY+yZIiE4XbxchsfV5ujt8Q==" providerName="System.Data.SqlClient"/>
    <add name="SQL_DES_PE" connectionString="Q6Vl9QRfIdhiFlnW3oPqAk0xEls0KSrstcjhIyMn4gXKkuImXx9ZA3eKiRbBbu4YVpHIfs3GSN8x0kU9f/ftvzoPU62/6iNAvcdLP8rcfIVLG3Nji6yGlcdwZZUQ5Eyn/B0daigqixdVfYPUpFsccQ==" providerName="System.Data.SqlClient"/>
    <add name="SQL_QA_PE" connectionString="Q6Vl9QRfIdhiFlnW3oPqAk0xEls0KSrstcjhIyMn4gVOKezQ0tcIj9x+cV0s29/CsNqS3HY1mITZatSsSC9tvyxgSYdd/8KvMOQQUL4qXrx6bxe6n5ws0ibFdT9HsdA/7uhLs2dpKLQj69OHI5GsoQ==" providerName="System.Data.SqlClient"/>
    <add name="SQL_PROD_EC" connectionString="Q6Vl9QRfIdhiFlnW3oPqAk0xEls0KSrstcjhIyMn4gWawAtC34fyel2YU1YF1ZqyVHPbfQhOaENjD8qBpeQ3/rH71baQjRkoRC/q/v/hwprGfVoidrqU5/y0FHV8T1WzY+yZIiE4XbxchsfV5ujt8Q==" providerName="System.Data.SqlClient"/>
    <add name="SQL_QA_EC" connectionString="Q6Vl9QRfIdhiFlnW3oPqAk0xEls0KSrstcjhIyMn4gUNEER+J5QsNM02jOO9+6L3qWuR84K38pszj60JTrm8/DPUvyR9JEYXRhpqx9nRd/dvSq27L5zl6QHWf82FpW95z4AfUJKcXgKDdRrF91wdzQ==" providerName="System.Data.SqlClient"/>


  </connectionStrings>
  <!--CONFIGURACION DE VARIABLES GLOBALES-->
  <appSettings>
    <add key="AMBIENTE" value="PROD"/>
    <add key="PAIS" value="PE"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>